body {
 font-family: Arial, sans-serif;
 background: #f3f3f3;
 text-align: center;
 padding: 20px;
}

#form-container {
 margin: 20px auto;
 padding: 20px;
 background: white;
 width: 300px;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
    margin: 10px;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
 
