body {
  font-family: Arial, sans-serif;
  background-color: #052e39;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgb(237, 237, 231);
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 300px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #031418;
}

.error {
  color: rgb(23, 6, 53);
  font-size: 12px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #999;
  cursor: not-allowed;
}