body {
    font-family:Arial,sans-serif;
    text-align:center;
    padding: 30px;
}
#container {
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    gap: 10px;
    justify-content:center;
}
   .box{
    width:80px;
    height:80px;
    background-color:lightblue;
    border:2px solid black;
    border-radius:10px;
}
     
